@import "reponsive";
@import "_header";
@import "_guide";

$textWhite: #fff;
$mainColor: #0c3d77;
$yellowColor: #ffcf29;
$dangerColor: #ff0000;
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-gift {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  justify-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
}

.input-info {
  padding: 1rem;
  width: 100%;
  form {
    max-width: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    label {
      color: $textWhite;
      span {
        color: $dangerColor;
      }
    }
    input {
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.gift-result .gift-item {
  animation: zoom-in-out 1.5s infinite linear;
}

.pop-up-show-gift-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 100%;
  &--btn-close {
    position: absolute;
    top: 0%;
    right: 0;
  }
  .pop-up__contents {
    &--layout {
      width: 100%;
      background: $mainColor;
      border-radius: 1.5rem;
      padding-top: 8%;
      padding-bottom: 8%;
      position: relative;
    }
    &--possition {
      width: 100%;
      position: absolute;
      top: 0;
      right: -50%;
      transform: translate(-50%, -75%);
    }
    &--gift {
      animation: shake 1s infinite ease-in-out;
    }
  }
  .pop-up-option button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -2px) rotate(-5deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 2px) rotate(-5deg);
  }
  60% {
    transform: translate(-3px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 2px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -2px) rotate(-5deg);
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
